@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --card: 0 0% 98%;
  --card-foreground: 240 10% 3.9%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
}

.dark {
  --background: 0 0% 7%;
  --foreground: 0 0% 98%;
  --muted: 0 0% 12%;
  --muted-foreground: 215 16% 65%;
  --card: 0 0% 9.5%;
  --card-foreground: 0 0% 98%;
  --border: 220 6% 25%;
  --input: 220 6% 25%;
}

body {
  @apply bg-background text-foreground;
}
